.dashboardContainer{
    width:10%;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.filter-search{
    margin:5% 0%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    padding: 10px 10px;
}
.filter-btn{
    margin:5% 0%;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
}
.filter-btn:active{
    transform: scale(0.9)
}
/*Add data form*/
.from-full-view{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dashboard-container{
    width:12vw;
    height:100vh;
}
.form-container{
    display: flex;
    justify-content:center;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    position: relative;
}
.form-box{
    margin:20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    width:300px;
    top:20%;
    position: absolute;
}
.form-item-label{
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
}
.form-item-box{
    display: flex;
    flex-direction:column;
    margin:10px;
    width:300px
}
.form--input-item{
    padding:10px 5px;
    border-radius:10px;
    outline:none;
    border:none;
}
.btn{
    width:150px;
    padding: 10px;
    border-radius:10px
}

/*products*/
.show-product-full-view{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.products-container{
    width: 80vw;
    border-radius: 20px;
    position: relative;
}
.products-box{
    margin:50px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-radius: 20px;
    padding: 50px 0;
}
.products-item-box{
    width:400px;
    margin: 10px;
    padding:10px;
    border-radius:10px;
}
.delete-btn{
    background-color:red;
    color: white; 
    margin:10px;
    padding:10px;
}
.update-btn{
    background-color: green;
    color: white; 
    margin:10px;
    padding:10px;
}
.product-page-move-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
}